<!DOCTYPE html>
<html 
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout_admin}"
>
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper"  layout:fragment="content">
		
		
		
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-g">Cadastro Funcionario <i class="fas fa-user"></i></h1>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
               
                <div class="card">
                    <div class="card-body">
						<!--th:action="@{/funcionarios/salvar}"-->
                        <form  id="form-funcionario" th:object="${funcionario}" method="POST">
                           
                            <div class="form-group form-row mb-2">
                                <div class="col-12 col-md-8">
                                    <label class="obrigatorio">Primeiro Nome</label>
                                    <div class="input-group">
                                        <span class="input-group-text input-icon"><i class="fas fa-user"></i></span>
                                        <input type="text" class="form-control" id="nome"
                                            placeholder="Primeiro nome" th:field="*{nome}">
                                    </div>
                                   
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="obrigatorio">Apelido</label>
                                    <div class="input-group">
                                        <span class="input-group-text input-icon"><i class="fas fa-user"></i></span>
                                        <input type="text" class="form-control "
                                            placeholder="Apelido" id="apelido"  th:field="*{apelido}">
                                        
                                    </div>

                                </div>
                            </div>
                            <div class="form-group mb-2 form-row">
                                <div class="col-12 col-md-6">
                                    <label class="obrigatorio">Contacto Pessoal</label>
                                    <div class="input-group">
                                        <span class="input-group-text input-icon"><i class="fas fa-phone"></i></span>
                                        <input type="number" class="form-control "
                                            placeholder="Celular pessoal" id="telefone"  th:field="*{telefone}">
                                    
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="obrigatorio">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text input-icon"><i class="fa fa-envelope"></i></span>
                                        <input type="email" class="form-control "
                                            placeholder="Email pessoal" id="email" th:field="*{email}">
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2 form-row">
                                <div class="col-12 col-md-6">
                                    <label class="obrigatorio">Documento de Identificacao</label>
                                    <div class="input-group">
                                        <span class="input-group-text input-icon"><i class="fas fa-hockey-puck"></i></span>
                                        <select class="form-select " id="tipo_doc"  th:field="*{tipo_doc}">
                                            <option value="">Selecione o documento</option>
                                            <option  value="BI">Bilhete de Identidade</option>
                                            <option  value="Carta de conducao">Carta de conducao</option>
                                            <option value="Passaporte">Passaporte</option>
                                            
                                        </select>
                                      
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="obrigatorio">Numero do documento</label>
                                    <div class="input-group">
                                        <span class="input-group-text input-icon"><i class="fa fa-envelope"></i></span>
                                        <input type="text" class="form-control" 
                                            placeholder="Numero do documento de identificacao" id="numero_doc" th:field="*{numero_doc}">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label class="obrigatorio">Cargo</label>
                                <div class="input-group">
                                    <span class="input-group-text input-icon"><i class="fas fa-paper-plane"></i></span>
                                    <select class="form-select" id="cargo"  th:field="*{cargo}"> 
                                        <option value="">selecione o cargo</option>
                                        <option value="Gestor">Gestor</option>
                                        <option value="Motorista">Motorista</option>
                                        <option value="Bilheteiro">Bilheteiro</option>                                      
                                    </select>
                                    
                                </div>

                            </div>

							<input type="hidden" id="id" th:field="*{id}">
                            <div class="form-row mt-3">
                                <div class="col-12 col-md-6">
                                    <span><b>Nota: </b>Todos campos marcados com <span class="obrigatorio"></span> sao
                                        obrigatorios</span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <button type="reset" class="btn btn-danger btn-sm float-right"><i
                                            class="fas fa-times-circle me-2"></i>Cancelar</button>
                                      
                                      
                                         
                                    <button th:if="${funcionario.id == null}" type="submit" class="btn btn-primary btn-sm float-right mr-4"><i
                                            class="fas fa-plus-circle me-2"></i>Salvar
                                     </button>
                                      
                                      
                                      <button th:unless="${funcionario.id == null}" type="button" class="btn btn-primary btn-sm float-right mr-4"  onclick="actualizarFuncionario(event)">
										  <i class="fas fa-plus-circle me-2"></i>Actualizar
									  </button>
                                    
                                </div>

                            </div>

                        </form>
                    </div>

                </div>
                <!-- /.card -->



            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
        
       
        <script th:src="@{/js/funcionario.js}"></script>
    </div>
    <!-- /.content-wrapper -->
    
     
  </body>
  
</html>
