<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Home</title>

    <link rel="shortcut icon" th:href="@{assets/img/logotipo.jpeg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{assets/fontAwesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/personalized/css/estilo.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{assets/adminlte/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{assets/scrollbar/css/scrollbars.min.css}">
    <link rel="stylesheet" th:href="@{assets/toastr/toastr.min.css}">

    <!-- Algumas paginas -->
    <link rel="stylesheet" href="{{ asset('assets') }}/DataTables/datatables.min.css">
  </head>

  <body class="hold-transition sidebar-mini layout-fixed" >

    <div class="wrapper">

        <div th:replace ="fragments/header :: header">

        </div>


        
        <div th:replace ="fragments/menu :: menu">

        </div>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper bb" layout:fragment="content" style="border:1px solid red;">

        </div>
        <!-- /.content-wrapper -->



        <div  th:replace ="fragments/footer :: footer">

        </div>
    
    </div>

    <script th:src="@{assets/jquery/jquery.min.js}"></script>
    <script th:src="@{assets/adminlte/js/adminlte.js}"></script>
    <script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/scrollbar/js/scrollbars.min.js}"></script>
    <script th:src="@{assets/toastr/toastr.min.js}"></script>
    <script th:src="@{assets/personalized/info.js}"></script>
    <script>
        const paginaActual = location.href;
        const menuItem = document.querySelectorAll('a');
        const tamanho = menuItem.length;

        for (let i = 0; i < tamanho; i++) {
            if (menuItem[i].href === paginaActual) {
                menuItem[i].classList.add('activo')
                var pai = menuItem[i].parentNode;
                pai = pai.parentNode;
                pai = pai.parentNode;
                pai.classList.add('menu-open')
                break
            }

        }

        
    </script>

    <script src="@{assets/DataTables/dataTables.min.js}"></script>
    <script>
        $(document).ready(function() {
            $('#tbl-func').DataTable();
        });
        table = $('#tbl-func').DataTable();
        $('#input').keyup(function() {
            table.search($(this).val()).draw();
        })
        $('#tbl-func_wrapper').addClass('table-responsive');
        $("#tbl-func_filter").children("label").remove();
    </script>
  </body>
</html>
