<!DOCTYPE html>
<html 
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout_admin}"
>
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper"  layout:fragment="content">
		
		
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-g">Cadastro de Rotas<i class="fas fa-bus ms-2"></i></h1>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <form th:action="@{/routas/salvar}" th:object="${routa}" method="POST">
                           
                            <div class="form-group form-row mb-2">
                                <div class="col-12 col-md-6">
                                    <label class="obrigatorio">Partida</label>
                                    <div class="input-group">
                                        <span class="input-group-text input-icon"><i class="fas fa-hockey-puck"></i></span>
                                        <select class="form-select "th:field="*{partida}">
                                            <option value="">Selecione a pronvicia de partida</option>
                                          <!--  @foreach ($provinces as $province) -->
                                                 <option th:each="p : ${pronvicias}" th:value="${p.descricao}" th:text="${p.descricao}"></option>
                                            

                                        </select>

                                    </div>

                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="obrigatorio">Destino</label>
                                    <div class="input-group">
                                        <span class="input-group-text input-icon"><i class="fas fa-hockey-puck"></i></span>
                                        <select class="form-select " th:field="*{destino}">
                                            <option value="">Selecione a pronvicia de destino</option>
                                         	<option th:each="p : ${pronvicias}" th:value="${p.descricao}" th:text="${p.descricao}"></option>

                                        </select>

                                    </div>

                                </div>
                            </div>
                            
                            <div class="form-group mb-2 ">
                                <label>Descricao</label>
                                <textarea class="form-control" placeholder="Descricao da viatura"
                                   th:field="*{descricao}" rows="6"> </textarea>

                            </div>

                            <div class="form-row mt-3">
                                <div class="col-12 col-md-6">
                                    <span><b>Nota: </b>Todos campos marcados com <span class="obrigatorio"></span> sao
                                        obrigatorios</span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <button type="reset" class="btn btn-danger btn-sm float-right"><i
                                            class="fas fa-times-circle me-2"></i>Cancelar</button>
                                    <button type="submit" class="btn btn-primary btn-sm float-right mr-4"><i
                                            class="fas fa-plus-circle me-2"></i>Salvar</button>
                                </div>

                            </div>

                        </form>
                    </div>

                </div>
                <!-- /.card -->



            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
      </body>
</html>